body {
  background-color: royalblue;
}
.quote-title {
  color: #fff;
  text-decoration: underline;
  padding: 30px;
}
.quote .quote-container {
  width: 50%;
  border-radius: 12px;
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.quote-container .quote-content {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
}
.author {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: right;
}
.btn {
  width: 25%;
  padding: 10px;
  margin: auto;
  border: none;
  font-family: "Dancing Script";
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.line {
  border: 1px solid white;
}
@media (max-width: 1024px) {
  .quote .quote-container {
    width: 80%;
  }
  .line {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 430px) {
  .quote .quote-container {
    width: 80%;
    padding: 20px;
  }
  .quote-content {
    font-size: 25px;
  }
  .btn {
    width: 50%;
    margin-top: 20px;
  }
  .line {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 380px) {
  .quote-container {
    margin-top: 30px;
  }
  .quote-content {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .quote-title {
    padding: 10px;
    padding-top: 15px;
  }
  .quote-container {
    margin-top: 40px;
    width: 30%;
    padding: 0px;
  }
  .quote-content {
    font-size: 18px;
  }
  .btn {
    width: 80%;
    margin-top: 20px;
  }
}
