body {
  background-color: #fff;
}
.custom-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  /* Add more styles as needed */
}
.title {
  color: royalblue;
  text-decoration: underline;
  padding: 30px;
  font-family: "Lobster";
  /* position: fixed; */
}
.quote .house {
  width: 50%;
  border-radius: 12px;
  border: 3px solid black;
  position: absolute;
  background-color: royalblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}
.house .content {
  font-family: "Lobster";
  font-style: normal;
  color: black;
  font-weight: 400;
}
.author {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: right;
  padding-top: 15px;
  color: white;
}
.btn {
  width: 25%;
  padding: 10px;
  margin: auto;
  border: none;
  font-family: "Dancing Script";
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.par {
  border: 1px solid black;
}

/* Base styles */
body {
  background-color: #fff;
}

.title {
  color: royalblue;
  text-decoration: underline;
  padding: 30px;
  font-family: "Lobster";
}

.quote .house {
  width: 50%;
  border-radius: 12px;
  border: 3px solid black;
  position: absolute;
  background-color: royalblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.house .content {
  font-family: "Lobster";
  font-style: normal;
  color: black;
  font-weight: 400;
}

.author {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: right;
  padding-top: 20px;
  color: white;
}

.btn {
  width: 25%;
  padding: 10px;
  margin: auto;
  border: none;
  font-family: "Dancing Script";
  font-size: 20px;
  border-radius: 5px;
  /* margin-top: 10px; */
  cursor: pointer;
}

.par {
  border: 1px solid black;
}

/* Media query for smaller screens */
@media screen and (max-width: 1024px) {
  .quote .house {
    width: 80%;
    padding: 20px;
    font-size: 30px;
  }

  .btn {
    width: 40%;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .quote .house {
    width: 70%;
    padding: 20px;
  }

  .btn {
    width: 80%;
    font-size: 16px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .quote .house {
    width: 90%;
    padding: 15px;
  }

  .btn {
    width: 60%;
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .quote .house {
    width: 85%;
    padding: 10px;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
  }

  .btn {
    width: 60%;
    font-size: 14px;
  }
}
